<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zelo.Luma.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zelo.Luma.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Zelo.Luma.My.MySettings>
            <setting name="GUI_ButtonRadius" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="GUI_ColorSecondary1" serializeAs="String">
                <value>0, 51, 204</value>
            </setting>
            <setting name="GUI_ColorSecondary2" serializeAs="String">
                <value>0, 25, 104</value>
            </setting>
            <setting name="GUI_ColorPrimary1" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GUI_ColorPrimary2" serializeAs="String">
                <value>255, 255, 102</value>
            </setting>
            <setting name="GUI_ShadowColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="GUI_ShadowColorSelected" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="GUI_ShadowSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="GUI_PrimaryForecolor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="GUI_PrimaryForecolorDisabled" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="BLL_JobID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BLL_LanguageID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F_Vision" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="F_RegisterControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="F_ViscosityControl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GUI_ColorTextbox" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BLL_ViscosityPause" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="F_DensitometerControl" serializeAs="String">
                <value>True</value>
            </setting>
        </Zelo.Luma.My.MySettings>
    </userSettings>
    <applicationSettings>
        <Zelo.Luma.My.MySettings>
            <setting name="BLL_DSJobFilename" serializeAs="String">
                <value>DSJob.xml</value>
            </setting>
            <setting name="BLL_DSNavigationFilename" serializeAs="String">
                <value>DSNavigation.xml</value>
            </setting>
        </Zelo.Luma.My.MySettings>
    </applicationSettings>
</configuration>
